/******************************************************/
/* BASE
/******************************************************/
/* -------------------------------------------------- */
/* .all
/* .html
/* .body
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* .all
/* -------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* { max-height: 999999px; } // Fix FontBoosting

/* -------------------------------------------------- */
/* .html
/* -------------------------------------------------- */

html {
  position: initial !important;
  font-size: 62.5%;
  font-size: calc(1em * .625);
  font-family: sans-serif;
  text-size-adjust: 100%;
  -webkit-font-smoothing : antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* -------------------------------------------------- */
/* .body
/* -------------------------------------------------- */

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: $white;

  *,
  a {
    text-decoration: none;

    &:active,
    &:not([href]):focus {
      outline: 0;
    }
  }
}
