/******************************************************/
/* COLORS
/******************************************************/
/* -------------------------------------------------- */
/* .primary
/* .states
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* .primary
/* -------------------------------------------------- */
$white: #fff;
$grey: #eee;
$black: #000;
$red: #ff0000;
$green: #008000;
